footer{
    position: relative;
    background-color: rgb(214, 255, 239);
    height: 30px;
    margin-bottom: 8px;
}
footer h2{
    position: absolute;
    bottom: -21px;
    left: 30px;
}
footer a{
    position: relative;
    left: 240px;
    top: 5px;
}
main{
    width: 100%;
    left: 0px;
    text-align: left;
    height: 387px;
}
h2{
    text-align: center;
}
fieldset{
    background-color: white;
    position: relative;
    width: 500px;
    left: 415px;
    margin-bottom: 10px;
    height: 310px;
}
input{
    position: absolute;
    width: 300px;
    left: 120px;
}
textarea{
    position: absolute;
    width: 300px;
    left: 120px;
}
label#msg{
    position: relative;
    top: 50px;
}
label{
    position: relative;
    left: 10px;
}
input#submit{
    top: 290px;
}