#home{
    display: none;
}
figure#figure1{
    position: relative;
    height: 400px;
}

figure#figure1 img#img1{
    height: 350px;
    width: 400px;
    left: -50px;
    top: 0px;
    margin: 10px;
}

figure#figure1 img#img2{
    height: 350px;
    width: 400px;
    left: 30px;
    top: 0px;
    margin: 10px;
}

figure#figure1 figcaption#fig1{
    background-color: rgb(255, 204, 203);
    position: absolute;
    left: 97px;
    width: 381px;
    padding: 10px;
    bottom: 2px;
}

figure#figure1 figcaption#fig2{
    background-color: rgb(255, 204, 203);
    position: relative;
    left: 601px;
    width: 381px;
    padding: 10px;
    bottom: 14px;
}