main{
    
    width:100%;
    left: 0px;
}
div{
    display: inline-block;
    width: 400px;
    margin-left: 10px;
}
div img{
    position: relative;
    left: 0px;
    width: 400px;
    height: 350px;
    top: 0px;
}
h2{
    position: relative;
}
figcaption{
    background-color: rgb(214, 255, 239);
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 20px;
}