#excluir{
    color: white;
    background-color: rgba(255, 0, 0, 0.800);
    transition: 0.2s;
}
#excluir:hover{
    background-color: rgb(209, 0, 0);
}
#cancelar{
    color: white;
    background-color: rgb(0, 128, 117);
    transition: 0.2s;
}
#cancelar:hover{
    background-color: rgb(0, 102, 80);
}