#cancelar{
    color: white;
    background-color: rgba(255, 0, 0, 0.800);
    transition: 0.2s;
}
#cancelar:hover{
    background-color: rgb(209, 0, 0);
}
#inserir{
    color: white;
    background-color: green;
    transition: 0.2s;
}
#inserir:hover{
    background-color: rgb(0, 102, 0);
}