@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home/index2.css">
<h2>Bem Vindo!</h2>
<p>Seja bem vindo(a) ao Artesdelineh, aqui você vai encontrar amigurumis e ilustrações.</p>
<h2>confira nossos novos produtos!</h2>
<div>
    @await Html.PartialAsync("_Produtos")
</div>
<a asp-action="Produtos" asp-controller="Produtos"><button class="button border-0 text-light">Clique aqui para ver mais produtos!</button></a>
<h2>Novos desenhos!</h2>
<div>
    @await Html.PartialAsync("_Desenhos")
</div>
<a asp-action="Desenhos" asp-controller="Desenho"><button class="button border-0 text-light">Clique aqui para ver mais desenhos!</button></a>
