@{
    ViewData["Title"]="Menu";
    Layout = "_Layout2";
    }
<link rel="stylesheet" href="~/css/Home/Menu2.css">
<h2>Menu do site</h2>
<table>
    <thead>
        <tr>
            <th>Desenhos</th>
            <th>Produtos</th>
            <th>Usuários</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a asp-action="Inserir" asp-controller="Desenho" id="green">Inserir</a></td>
            <td><a asp-action="Inserir" asp-controller="Produtos" id="green">Inserir</a></td>
            <td><a asp-action="Conta" asp-controller="Usuario" id="green">Inserir</a></td>
        </tr>
        <tr>
            <td><a asp-action="Modificar" asp-controller="Desenho" id="blue">Edição</a></td>
            <td><a asp-action="Modificar" asp-controller="Produtos" id="blue">Edição</a></td>
            <td><a asp-action="Modificar" asp-controller="Usuario" id="blue">Edição</a></td>
        </tr>
        <tr>
            <td><a asp-action="Excluir" asp-controller="Desenho" id="red">Excluir</a></td>
            <td><a asp-action="Excluir" asp-controller="Produtos" id="red">Excluir</a></td>
            <td><a asp-action="Excluir" asp-controller="Usuario" id="red">Excluir</a></td>
        </tr>
        <tr>
            <td><a asp-action="Desenhos" asp-controller="Desenho" id="yellow">Listagem</a></td>
            <td><a asp-action="Produtos" asp-controller="Produtos" id="yellow">Listagem</a></td>
            <td><a asp-action="Listagem" asp-controller="Usuario" id="yellow">Listagem</a></td>
        </tr>
    </tbody>
</table>