@{
    ViewData["Title"]="Menu";
    Layout = "_Layout2";
}
<link rel="stylesheet" href="~/css/Home/Menu.css">
<h1>Bem Vindo ao Menu</h1>
<p>Para usar ir as opções clique <br> no botão ao lado esquerdo</p>
