#cancelar{
    color: white;
    background-color: rgba(255, 0, 0, 0.800);
    transition: 0.2s;
}
#cancelar:hover{
    background-color: rgb(209, 0, 0);
}
#confirmar{
    color: white;
    background-color: sandybrown;
    transition: 0.2s;
}
#confirmar:hover{
    background-color: rgb(212, 143, 82);
}