@model ViewModel
@{ViewData["Title"] = "Desenhos";}
<style>
    main{
        margin-bottom: 1em;
    }
    #Desenhos{
        display: none;
    }
</style>
<h2 class="position-relative">Desenhos</h2>
<h3>Preços a combinar</h3>
@await Html.PartialAsync("_Desenhos")

