@model Usuario
@{
    ViewData["Title"] = "Nova conta";
    Layout = "_Login";
}
<link rel="stylesheet" href="/css/Usuario/Conta3.css">
<form method="POST" class="mt-3">
    <fieldset>
        <h2 class="text-center">Novo Usuario</h2>
        <img src="/imagens/user1.png" id="imagem" class="rounded-circle" alt="foto de usuario">

        <p><label asp-for="nome">Digite seu nome* </label></p>
        <p><input asp-for="nome" placeholder="Digite seu nome aqui" id="nome" required></p>

        <p><label asp-for="email">Digite seu E-mail* </label></p>
        <p><input asp-for="email" type="email" id="email" placeholder="Digite seu E-mail aqui" required></p>

        <p><label asp-for="senha">Digite uma senha* </label></p>
        <p><input asp-for="senha" type="password" id="senha" placeholder="Digite sua senha aqui" required></p>

        <p><label asp-for="idade">Digite sua idade* </label></p>
        <p><input asp-for="idade" type="number" id="idade" placeholder="Digite sua idade aqui" required></p>

        <p><label asp-for="avatar"></label></p>
        <p><input type="file" name="avatar" id="avatar"></p>

        <p><a asp-action="Index" asp-controller="Home"><input type="button" value="Cancelar" id="cancelar"></a> <input type="submit" value="Concluir" id="concluir"></p>
    </fieldset>
</form>
<script src="~/js/conta.js"></script>