@model Usuario
@{
    ViewData["Title"] = "Login";
    Layout = "_Login";
}
<link rel="stylesheet" href="/css/Usuario/Login3.css">
<form method="POST" class="text-center mt-3 pb-3">
<fieldset>
    <a asp-controller="Home" asp-action="Index" id="seta"><img src="~/imagens/left-arrow-key-1.png" id="voltar" alt="voltar"></a>
    <p>@ViewBag.mensagem</p>
    <h2>Faça login para fazer uma compra</h2>
    <img src="/imagens/user1.png" class="rounded-circle" id="usuario" alt="foto de usuario">

    <p><label asp-for="email">E-mail: </label></p>
    <p><input asp-for="email" type="email" id="email" placeholder="Digite seu E-mail aqui" required></p>

    <p><label asp-for="senha">Senha: </label></p>
    <p><input asp-for="senha" type="password" id="senha" placeholder="Digite sua senha aqui" required></p>

    <p><input type="submit" value="Confirmar" id="confirmar"></p>
    <button class="conta"><a asp-action="Conta" asp-controller="Usuario" class="conta">Não tem uma conta? crie-a agora clicando aqui!</a></button>
</fieldset>
</form>