@model Usuario
@{ViewData["Title"]="Edição de Usuários";}
<link rel="stylesheet" href="~/css/Usuario/Modificar2.css">
<h2>Edição de Usuários</h2>
<form asp-action="Modificar" method="post">
    <fieldset>
        <p>@ViewBag.mensagem</p>
        <p><label asp-for="id">Selecione o id do usuário que deseja alterar</label></p>
        <p><input asp-for="id" placeholder="Digite o id aqui" required></p>
        <p><label asp-for="email">Digite o email do usuário</label></p>
        <p><input asp-for="email" type="email" placeholder="Digite o email aqui" required></p>
        <p><label asp-for="senha">Digite a senha do usuário</label></p>
        <p><input asp-for="senha" type="password" placeholder="Digite a senha aqui" required></p>
        <p><label asp-for="tipo">Selecione o tipo do usuário</label></p>
        <p>
            <select asp-for="tipo" name="tipo" id="tipo" required>
                <option value="0">Usuario</option>
                <option value="1">Administrador</option>
            </select>
        </p>
        <p><a asp-action="Index" asp-controller="Home"><input type="button" value="Cancelar" id="cancelar"></a></p>
        <p><input type="submit" value="Modificar" id="modificar"></p>
        @if(ViewBag.mensagem!=null){<p><a asp-action="Listagem">Voltar a listagem</a></p>}
    </fieldset>
</form>