#produto{
    display: inline-block;
    background-color: #C7E7FF;
    border-radius: 15px;
    transition: 0.5s;
}
#produto:hover{
    font-size: 1.2em;
}
#img{
    background-size: 40vw;
    transition: 0.2s ease-in;
    width: 40vw;
    height: 40vw;
}
#img:hover{
    background-size: 41vw;
    width: 41vw;
    height: 41vw;
}
#nome{
    font-weight: bold;
}
#preco{
    color: green;
}
@media(min-width:990px){
    #produto:hover{
        font-size: 20px;
    }
    #img{
        background-size: 30vw;
        transition: 0.2s ease-in;
        width: 30vw;
        height: 30vw;
    }
    #img:hover{
        background-size: 31vw;
        width: 31vw;
        height: 31vw;
    }
}