@model Produto
@{
    ViewData["Title"]="Inserção de Produtos";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Produto/Inserir.css">
<h2>Inserção de Produtos</h2>
<form asp-action="Inserir" method="post">
    <fieldset>

        <p><label asp-for="imagem">Selecione a uma imagem: </label></p>
        <p><input asp-for="imagem" type="file" required id="img"></p>

        <p><label asp-for="nome">Digite o nome: </label></p>
        <p><input asp-for="nome" placeholder="Digite o nome do produto aqui" id="nome" required></p>

        <p><label asp-for="preco">Digite o preço aqui: </label></p>
        <p><input asp-for="preco" placeholder="Digite o preço do produto aqui" required></p>

        <p><a asp-action="Index" asp-controller="Home"><input type="button" value="Cancelar" id="cancelar"></a></p>

        <p><input type="submit" value="Inserir" id="inserir"></p>

    </fieldset>
</form>
<script>
    $("#inserir").on("click",function() {
        alert(`${$("#nome").val()} inserido com sucesso`)
    })
</script>