@model ViewModel
@{ViewData["Title"] = "Produtos";}
<link rel="stylesheet" href="~/css/Produto/Produtos.css">
<style>
    #produtos{
        display: none;
    }
    main{
        margin-bottom: 1em;
    }
</style>
<h2 class="position-relative">Produtos</h2>
@await Html.PartialAsync("_Produtos")