@model Pedido
@{ViewData["Title"] = "Home Page";}
<link rel="stylesheet" href="/css/Pedido/Encomendas2.css">
<h2 class="text-center">Encomendas</h2>
<h3 class="text-center">Faça seu pedido!!!</h3>
<form method="POST">
    <fieldset>
        @if(ViewBag.mensagem!=null){
            <p id="Viewbag" class="text-center"><b>@ViewBag.mensagem</b></p>
        }

        <p><label asp-for="nome">Nome: </label></p>
        <p><input asp-for="nome" type="text" id="nome" class="border-0" placeholder="Nome Completo" required></p>

        <p><label asp-for="estado">Estado: </label></p>
        <p><select asp-for="estado" class="border-0" id="estado">
                <option value="São Paulo">São Paulo</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="Minas Gerais">Minas Gerais</option>
                <option value="Espirito Santo">Espirito Santo</option>
                <option value="Parana">Paraná</option>
                <option value="Santa Catarina">Santa Catarina</option>
                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                <option value="Mato Grosso">Mato Grosso</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                <option value="Goias">Goiás</option>
                <option value="Distrito Federal">Distrito Federal</option>
                <option value="Alagoas">Alagoas</option>
                <option value="Bahia">Bahia</option>
                <option value="Ceara">Ceará</option>
                <option value="Maranhao">Maranhão</option>
                <option value="Piaui">Piauí</option>
                <option value="Pernambuco">Pernambuco</option>
                <option value="Paraiba">Paraíba</option>
                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                <option value="Sergipe">Sergipe</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Acre">Acre</option>
                <option value="Amapa">Amapá</option>
                <option value="Para">Pará</option>
                <option value="Rondonia">Rondônia</option>
                <option value="Roraima">Roraima</option>
                <option value="Tocantins">Tocantins</option>
            </select>
        </p>

        <p><label asp-for="endereco">Endereço: </label></p>
        <p><input asp-for="endereco" class="border-0" type="text" id="endereco" placeholder="Coloque seu endereço aqui" required></p>

        <p><label asp-for="telefone">Telefone: </label></p>
        <p><input asp-for="telefone" class="border-0" type="tel" id="telefone" placeholder="Coloque seu telefone aqui" required></p>

        <p><label asp-for="pedido">Pedido: </label></p>
        <p><input asp-for="pedido" class="border-0" type="text" id="pedido" placeholder="Digite seu pedido" required></p>

        <p><input type="submit" class="border-0 submit" value="Confirmar"></p>

        @if(ViewBag.mensagem!=null){<p id="visualizar"><button><a asp-action="Visualizar" id="visualizar">Ver a lista de produtos</a></button></p>}
    </fieldset>
</form>